<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <table class="container">
        <tbody>
          <tr>
            <td class="pt-5">
              <a href="<%= appLink%>" target="_blank">
                <img class="logo" src="<%= appIcon%>" alt="" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <h2 class="title">
                Verify your email address to complete registration
              </h2>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>Hi <%= username%>,</p>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                Thanks for your interest in joining I.C.H! To complete your
                registration, we need you to verify your email address.
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-10 pb-5">
              <div class="center-btn">
                <a href="<%= verificationLink%>" class="btn" target="_blank"
                  >Verify Email</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                Please note that not all applications to join I.C.H are
                accepted. We will notify you of our decision by email within 24
                hours.
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-10">
              <p>Thanks for your time,</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>I.C.H TRADING PRODUCTION CO., LTD</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
