<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <table class="container">
        <tbody>
          <tr>
            <td class="pt-5">
              <a href="<%= appLink%>" target="_blank">
                <img class="logo" src="<%= appIcon%>" alt="" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <h2 class="title">Xác Thực Tài Khoản</h2>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>Hi,</p>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                Cảm ơn bạn đã đăng ký tài khoản tại Công ty TNHH MTV TM sản xuất
                I.C.H. Để hoàn tất quá trình đăng ký, vui lòng xác thực địa chỉ
                email của bạn bằng cách nhấp vào liên kết dưới đây:
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-10 pb-5">
              <div class="center-btn">
                <a href="<%= verificationLink%>" class="btn" target="_blank"
                  >Xác thực</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                Nếu bạn không đăng ký tài khoản tại Công ty TNHH MTV TM sản xuất
                I.C.H, vui lòng bỏ qua email này.
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                Chúng tôi rất vui khi có bạn đồng hành cùng chúng tôi. Cảm ơn
                bạn đã tin tưởng và sử dụng dịch vụ của chúng tôi!
              </p>
            </td>
          </tr>

          <tr>
            <td class="pt-10">
              <p>Trân trọng,</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Đội ngũ hỗ trợ [Tên Công Ty/Ứng Dụng]</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>[Thông Tin Liên Hệ]</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
