<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <table class="container">
        <tbody>
          <tr>
            <td class="pt-5">
              <a href="<%= appLink%>" target="_blank">
                <img class="logo" src="<%= appIcon%>" alt="" />
              </a>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <h2 class="title">Reactivate your I.C.H account</h2>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>Hi <%= username%>,</p>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                We received a request that you want to reactivate your account.
                You can do this by selecting the button below.
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>This request expires in 4 hours.</p>
            </td>
          </tr>
          <tr>
            <td class="pt-10 pb-5">
              <div class="center-btn">
                <a href="<%= reactivateLink%>" class="btn" target="_blank"
                  >Reactivate Account</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td class="pt-5">
              <p>
                If you didn't make this request, you don't need to do anything.
              </p>
            </td>
          </tr>
          <tr>
            <td class="pt-10">
              <p>Thanks,</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>I.C.H TRADING PRODUCTION CO., LTD</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
